.bckg-color {
    background-color: $brightpink;
    width: 100%; 
}

.bckg-color2 {
    background-color: $whitepink;
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.bckg-color3 {
    background-color: $mutedpink;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 0;    
    margin-bottom: 0;
}   

.darkgrey {
    font-size: 1.5rem;
    color: $colorblack;
}
